<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="stylesheet" href="/bundle.css">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/img/pfp.png">
</head>
<body>
    <header>
        <a href="/index"><img src="/img/pfp.png" alt="Jamie's Usual PFP"></a>
        <h1>M0JXD's Website</h1>
        <!--<div>-->
        <!--<input type="checkbox" id="color-scheme-toggle" name="color-scheme-toggle">-->
        <!--<label for="color-scheme-toggle">Dark Mode?</label>-->
        <!--</div>-->
        <nav>
        <a href="/sitemap">Sitemap</a>
        </nav>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <p>Copyright Jamie Drinkell 2025.</p>
        <!--<p><em>#BuiltWithEleventy</em></p>-->
        <!-- TODO: Links to socials -->
    </footer>
</body>
</html>
