/* Main CSS file for my site */

/*  The light Version of this site uses named colours for good compliance */

/* Set border-box everywhere */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: DimGray;
  background-color: WhiteSmoke;
  /*font-size: 18px;*/
}

body {
  font-family: Tahoma, Arial;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: Gainsboro;
}

header > a > img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
}

footer {
  width: 100%;
  height: 38px;
  color: WhiteSmoke;
  background-color: grey;
  display: flex;
  align-items: center;
  line-height: 0;
}

footer > div {
  flex: 1;
}

.copyright {
  display: flex;
  justify-content: center;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: end;
}

.social-links > a {
  margin: 8px;
}

.social-links > a > img {
  width: 22px;
}

main {
  margin: 0 auto;
  width: 70%;
  flex: 1;
}

/* Jesus, Gemini sucked at this */
img {
  width: auto;
  height: auto;
  max-width: 600px;
  max-height: 600px;
}

/* Mobile screen fixes */
@media (max-width: 800px) {
  img {
    max-width: 280px;
  }
}

@media (max-width: 480px) {
  header > h1 {
    font-size: 16px;
  }
}

@media (max-width: 830px) {
  .fill {
    flex: 0;
  }

  .copyright {
    display: flex;
    justify-content: left;
    flex: 3;
  }

  .copyright > p {
    margin: 8px;
  }
}
